.title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.pageFlipView {
  max-height: 90vh;
  height: 90vh;
  margin: auto;
}

.pageControls{
  position: fixed;
  bottom: 20px;
  left: calc(50% - 50px);
}

.toggleConfigContainerBtn{
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
}

.loaderCredits {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  color: #555;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loaderLogo {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.loaderBrand {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.loaderDate {
  font-size: 12px;
  font-weight: 400;
}  