body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f5f5f5;

}

#root {
  height: 100vh!important;
}

#wrapper {
  height: 100vh;
  background-image: url(/background/whitey.png);
  background-repeat: repeat;
}

// Import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";